// Body
$body-bg : #f8fafc;

// Typography
$font-family-sans-serif : 'Open Sans', sans-serif;
$font-size-base : 1rem;
$line-height-base : 1.4;
$font-color : #303030;
$h1 : 36px;
$h2 : 30px;
$h3 : 26px;
$h4 : 22px;
$h5 : 18px;
$h6 : 16px;

// Colors
$blue : #3490dc;
$indigo : #6574cd;
$purple : #9561e2;
$pink : #CF77D4;
$red : #e3342f;
$orange : #f6993f;
$yellow : #ffed4a;
$green : #81DBBB;
$teal : #4dc0b5;
$cyan : #6cb2eb;
$dark: #27292F;

$primary : #8332F4;
$primary-grad : linear-gradient(to right, $primary, $pink);

$secondary : #63CAD6;
$secondary-grad : linear-gradient(to right, $secondary, $green);

$success : #92CF48;
$warning : #E97450;
$danger : #BF2828;
$default-btn : #ECEFF1;

// Buttons and Links

$link-weight : 600;
$link-color : #5389F7;






