// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a{
  border-bottom : 2px solid $link-color;
}

.bg-primary-grad{
  background: $primary-grad;
}

button, .btn{
  background-color: $default-btn;
}



